# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.app
*.mxj
*.mxo

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Binary Files #
############
*.h5
*.json

# Documents #
############
**.[pP][dD][fF]
**.[dD][oO][cC]
**.[dD][oO][tT]
**.[dD][oO][cC][xX]
**.[dD][oO][cC][mM]
**.[dD][oO][tT][xX]
**.[dD][oO][tT][mM]
**.[dD][oO][cC][bB]
**.[pP][pP][tT][xX]
**.[pP][pP][tT][mM]
**.[pP][oO][tT][xX]
**.[pP][oO][tT][mM]
**.[pP][pP][aA][mM]
**.[pP][pP][sS][xX]
**.[pP][pP][sS][mM]
**.[sS][lL][dD][xX]
**.[sS][lL][dD][mM]
**.[pP][pP][tT]
**.[pP][oO][tT]
**.[pP][pP][sS]
**.[xX][lL][sS][bB]
**.[xX][lL][aA]
**.[xX][lL][aA][mM]
**.[xX][lL][lL]
**.[xX][lL][wW]
**.[xX][lL][sS]
**.[xX][lL][tT]
**.[xX][lL][mM]

# Images #
############
**.[tT][iI][fF]
**.[tT][iI][fF][fF]
**.[gG][iI][fF]
**.[jJ][pP][eE][gG]
**.[jJ][pP][gG]
**.[jJ][iI][fF]
**.[jJ][fF][iI][fF]
**.[jJ][pP]2
**.[jJ][pP][xX]
**.[jJ]2[kK]
**.[jJ]2[cC]
**.[fF][pP][xX]
**.[pP][cC][dD]
**.[pP][nN][gG]
**.[pP][sS][dD]
**.[xX][cC][fF]

# Video #
############
**.[wW][eE][bB][mM]
**.[mM][kK][vV]
**.[fF][lL][vV]
**.[vV][oO][bB]
**.[oO][gG][vV]
**.[oO][gG][gG]
**.[dD][rR][cC]
**.[mM][oO][vV]
**.[qQ][tT]
**.[mM][nN][gG]
**.[aA][vV][iI]
**.[wW][mM][vV]
**.[yY][uU][vV]
**.[rR][mM]
**.[rR][mM][vV][bB]
**.[mM][pP]4
**.[mM]4[pP]
**.[mM]4[vV]
**.[mM][pP][gG]
**.[mM][pP]2
**.[mM][pP][eE][gG]
**.[mM][pP][eE]
**.[mM][pP][vV]
**.[mM]2[vV]
**.[sS][vV][iI]
**.3[gG][pP]
**.3[gG]2
**.[mM][xX][fF]
**.[rR][oO][qQ]
**.[nN][sS][vV]

# Audio #
############
**.[aA][cC][tT]
**.[aA][iI][fF]
**.[aA][iI][fF][fF]
**.[aA][aA][cC]
**.[aA][mM][rR]
**.[aA][uU]
**.[aA][wW][bB]
**.[cC][aA][fF]
**.[dD][cC][tT]
**.[dD][sS][sS]
**.[dD][vV][fF]
**.[fF][lL][aA][cC]
**.[gG][sS][mM]
**.[iI][kK][lL][aA][xX]
**.[iI][vV][sS]
**.[mM]4[aA]
**.[mM][mM][fF]
**.[mM][pP]3
**.[mM][pP][cC]
**.[mM][sS][vV]
**.[oO][gG][aA]
**.[oO][pP][uU][sS]
**.[rR][aA]
**.[rR][aA][wW]
**.[sS][lL][nN]
**.[tT][tT][aA]
**.[vV][oO][xX]
**.[wW][aA][vV]
**.[wW][mM][aA]
**.[wW][vV]

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.out

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon?
